/* just use rem and vh and vw  */
/* 
   1rem equals 20px 
   0.5rem 10px 
   0.25rem 5px
*/

/* default style */
:root {
    --main-font: 'Darker Grotesque', sans-serif;
    --width: 100vw;
    --height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font)
}


/* header style */
.head{
    height: 5rem;
    background-image: linear-gradient(rgb(114, 89, 89), rgb(235, 235, 201));
    text-align: center;
    line-height: 5rem;
}


/* input search style */
.main-inputForm{
    text-align: center;
    margin: 5rem 0;
}
.inputForm-inputField{
    padding: 0.55rem;
    width: 40vw;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    border: 0.1rem solid #d6a7a7;
    font-weight: bold;
}
.inputForm-searchBtn{
    padding: 0.255555555rem 0.8rem 0.5rem;
    background: none;
    border-radius: .3rem;
    margin-left: .5rem;
    border: 1px solid #d6a7a7;
    transition: .8s;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(17, 17, 17, 0.849);
}
.inputForm-searchBtn:hover{
    transform: scale(1.1) rotate(1deg);
    background: #33149685;
    color: white;
    border:none;
}
.inputForm-searchBtn:active,.inputForm-searchBtn:focus,.inputForm-inputField:focus{
    outline: 0;
}


/* main result div */

.main-result{
    margin: 0 auto;
    text-align: center;
    max-width: 70vw;
    font-size: 1.3rem;
    font-weight: bold;
}
.chiledContainer{
    margin: 1vh 0 2rem 0;
    border: 1px solid #cec2c2;
    padding: 1rem;
    background: #cec2c277
}
.chiledContainer h4{
    color:red;
    margin-top: 1rem;

}

.chiledContainer span{
    padding: 0 1rem;
}